* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform:capitalize;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}
  
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8.5rem;
}
  
html::-webkit-scrollbar {
    width: 1rem;
}
  
html::-webkit-scrollbar-track {
    background: #fff;
}
  
html::-webkit-scrollbar-thumb {
    background: #d5cdc9d4;
    border-radius: 5rem;
}
  
section {
    padding: 2rem 9%;
}
  
.heading {
    text-align: center;
    padding-bottom: 2rem;
}
  
.heading span {
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
    color: #ff9d0a;
}
  
.heading h3 {
    font-size: 3rem;
    color: #e88c0c;
}
  
.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .7rem 1.8rem;
    font-size: 1.7rem;
    cursor: pointer;
    color: #fff;
    background: #ff7300;
    border-radius: .5rem;
}
  
.btn:hover {
    background: #e66c08f2;
}
  
.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
    -webkit-box-shadow: 0 1rem 1rem rgba(109, 87, 87, 0.418);
            box-shadow: 0 1rem 1rem rgba(100, 83, 83, 0.281);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 2rem 9%;
}
  
.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fe5d00;
}
  
.header .logo i {
    padding-right: .5rem;
    color: #e36f3e;
}
  
  
.header .navbar a {
    font-size: 1.7rem;
    margin: 0 1rem;
   color: #666;
}
  
  .header .navbar a:hover {
    color: #d3620ce3;
  }
  
  .header .icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    background: #f7f7f7;
    color: #b97234;
    border-radius: .5rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
  }
  
  .header .icons div:hover {
    color: #fff;
    background: #f8bf2f;
  }
  
  #menu-btn {
    display: none;
  }
  
  @-webkit-keyframes fadeUp {
    0% {
      -webkit-transform: translateY(5rem);
              transform: translateY(5rem);
      opacity: 0;
    }
  }
  
  @keyframes fadeUp {
    0% {
      -webkit-transform: translateY(5rem);
              transform: translateY(5rem);
      opacity: 0;
    }
  }
  

.container {
    display: flex;
    padding: 0px;

}

.item-list {
    background-color: #e47012;
    margin: 0px;
    width: 20%;
    color: white;
    text-align: center;
    padding: 20px;
    height: auto;
}

.item-list ul {
    flex: 1;
    padding-right: 20px;
    list-style-type: none;

}

.item-list li {
    display: inline-block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    transition-duration: 00.4s;
    padding-top: 20px;
}
.item-list li a{
    color: white;
    text-decoration: none;
}

.item-list li a:hover {
    color: #e36f3e;
    background-color: #ffffff;
    height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;
    border-right: none;
    border-radius: 0px;
}


.catalogue-container {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(234, 135, 43, 0.646);
    width: 100%;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f79833;
    color: white;
    font-size: 18px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.4;
}

button:hover {
    background-color: rgb(255, 166, 0);
}

.footer {
    background: #f7f7f7;
  }
  
  .footer .newsletter {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .footer .newsletter h3 {
    font-size: 2.5rem;
    color: #e77c11;
    padding-bottom: 1rem;
  }
  
  .footer .newsletter form {
    max-width: 70rem;
    margin: 1rem auto;
    max-width: 70rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: .5rem;
    overflow: hidden;
  }
  
  .footer .newsletter form input[type="email"] {
    height: 100%;
    width: 100%;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: #e37114;
    text-transform: none;
  }
  
  .footer .newsletter form input[type="submit"] {
    padding: 0 2rem;
    font-size: 1.6rem;
    color: #fff;
    background: #f09606;
    cursor: pointer;
  }
  
  .footer .newsletter form input[type="submit"]:hover {
    background: #d5832c;
  }
  
  .footer .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
  }
  
  .footer .box-container .box h3 {
    font-size: 2.2rem;
    color: #c79236;
    padding: 1rem 0;
  }
  
  .footer .box-container .box p {
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 0;
  }
  
  .footer .box-container .box a {
    display: block;
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 0;
  }
  
  .footer .box-container .box a:hover {
    color: #e57e08;
  }
  
  .footer .box-container .box a:hover i {
    padding-right: 2rem;
  }
  
  .footer .box-container .box a i {
    padding-right: .5rem;
    color: #e5870b;
  }
  
  .footer .bottom {
    padding-top: 1rem;
    text-align: center;
  }
  
  .footer .bottom .share {
    margin: 1.5rem 0;
  }
  
  .footer .bottom .share a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    border-radius: .5rem;
    margin: 0 .3rem;
    color: #fff;
    background: #f5a506;
  }
  
  .footer .bottom .share a:hover {
    background: #f49426;
  }
  
  .footer .bottom .credit {
    font-size: 2rem;
    color: #666;
    padding: 1rem;
  }
  
  .footer .bottom .credit span {
    color: #d87e24;
  }